In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
# Find the total number of players. - needs to exclude duplicates. 
total_players = len(purchase_data_df["SN"].unique())
total_players_df = pd.DataFrame({"Total Players": [total_players]})
total_players_df

   Total Players
0            576

In [3]:
purchases = purchase_data_df["SN"].count()
purchases

780

In [4]:
# Calculations to obtain number of unique items, average price, etc.
item_names = purchase_data_df["Item Name"].nunique()
item_names

179

In [5]:
avg_price = purchase_data_df["Price"].mean()
avg_price_df = pd.DataFrame({"Average Price": [avg_price] })
avg_price_df.style.format({"Average Price": "${:,.2f}"})

In [6]:
revenue = purchase_data_df["Price"].sum()
total_revenue_df = pd.DataFrame({"Total Revenue": [revenue]})
total_revenue_df.style.format({"Total Revenue": "${:,.2f}"})

In [7]:
gamers_df = pd.DataFrame({"Number of Unique Items": [item_names],
                         "Average Price": [avg_price], 
                         "Number of Purchases": [purchases], 
                         "Total Revenue": [revenue]
                           })
gamers_df.style.format({"Average Price": "${:,.2f}",
                       "Total Revenue": "${:,.2f}"
                       })

In [8]:
player_info = purchase_data_df.loc[:, ["SN", "Age", "Gender"]].drop_duplicates()
player_info

                SN  Age  Gender
0          Lisim78   20    Male
1      Lisovynya38   40    Male
2       Ithergue48   24    Male
3    Chamassasya86   24    Male
4        Iskosia90   23    Male
..             ...  ...     ...
773         Hala31   21    Male
774     Jiskjask80   11    Male
775     Aethedru70   21  Female
777     Yathecal72   20    Male
778        Sisur91    7    Male

[576 rows x 3 columns]

In [9]:
count = player_info["Gender"].value_counts()
percent_count = (count / total_players)
count_df = pd.DataFrame({"Total Count": count, "Percentage": percent_count})

count_df.style.format({"Percentage":"{:.2%}"})

In [10]:
# Purchasing Analysis by Gender 
gender_analysis = purchase_data_df.groupby("Gender").count()["Purchase ID"]
gender_mean = purchase_data_df.groupby("Gender").mean()["Price"]
gender_price = purchase_data_df.groupby("Gender").sum()["Price"]
gender_x = round(gender_price / count, 2)

gender_summary_df = pd.DataFrame({"Purchase Count": gender_analysis,
                              "Average Purchase Price": gender_mean,
                              "Total Purchase Value": gender_price,
                              "Avg Total Purchase per Person": gender_x
                                 })

gender_summary_df.style.format({"Average Purchase Price": "${:,.2f}",
                              "Total Purchase Value": "${:,.2f}",
                              "Avg Total Purchase per Person": "${:,.2f}"
                               })

In [11]:
# Age Demographics

# Create the bins
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]

# Name the bins 
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [17]:

player_info["Age Range"] = pd.cut(purchase_data_df["Age"], bins, labels = group_names)

player_x = player_info["Age Range"].value_counts()

player_percent = (player_x / total_players)

summary_df2 = pd.DataFrame({"Total Count": player_x,
                              "Percentage of Players": player_percent
                              })

summary_df2 = summary_df2.sort_index()

summary_df2.index.name = "Age Range"

summary_df2.style.format({"Percentage of Players":"{:.2%}"})

In [19]:
# Purchase Analysis by Age
purchase_data_df["Age Range"] = pd.cut(purchase_data_df["Age"], bins, labels = group_names)

# Purchase Count 
purchase_count = purchase_data_df["Age Range"].value_counts()

# Avg. Purchase Price 
avg_purchase_price = round(purchase_data_df.groupby("Age Range").mean()["Price"], 2)

# Total Purchase Price
total_purchase_price = purchase_data_df.groupby("Age Range").sum()["Price"]

# Avg. Purchase Total per Person
avg_purchase_total = round(total_purchase_price / player_x, 2)

# Display the Summary Table
summary_df3 = pd.DataFrame({"Purchase Count": purchase_count,
                            "Avg. Purchase Price": player_percent,
                            "Total Purchase Price": total_purchase_price,
                            "Avg. Purchase Total per Person": avg_purchase_total
                              })
summary_df3 = summary_df3.sort_index()

summary_df3.index.name = "Age Range"

summary_df3.style.format({"Avg. Purchase Price": "${:,.2f}",
                            "Total Purchase Price": "${:,.2f}",
                            "Avg. Purchase Total per Person": "${:,.2f}"
                         })

In [20]:
# Group purchase data by screen names
screen_names = purchase_data_df.groupby("SN")

# Count the total purchases by name
name_spend = screen_names["Purchase ID"].count()

# Calculate the average purchase by name 
avg_purchase_sn = screen_names["Price"].mean()

# Calculate purchase total 
total_purchase = screen_names["Price"].sum()

# Display the Summary Table
summary_df4 = pd.DataFrame({"Purchase Count": name_spend,
                             "Average Purchase Price": avg_purchase_sn,
                             "Total Purchase Value": total_purchase
                      })

# Sort to get top five
summary_df4 = summary_df4.sort_values(["Total Purchase Value"], ascending=False).head()

# Format to currency
summary_df4.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

In [21]:
# Make a new DF for the most popular items based on Item ID, Name, & Price
most_popular_df = purchase_data_df[["Item ID", "Item Name", "Price"]]

# Group by Item ID and Item Name
group_ID = most_popular_df.groupby(["Item ID", "Item Name"])

# Find purchase count 
purchase_count = group_ID["Price"].count()

# Find total purchase value
purchase_value = group_ID["Price"].sum()

# Find item price
item_value = round(purchase_value / purchase_count, 2)

# Display the Summary Table 
summary_df5 = pd.DataFrame({"Purchase Count": purchase_count,
                             "Item Price": item_value,
                             "Total Purchase Value": purchase_value
                              })

df5_formatted = summary_df5.sort_values(["Purchase Count"], ascending=False).head()

df5_formatted.style.format({"Item Price":"${:,.2f}",
                           "Total Purchase Value":"${:,.2f}"
                           })

In [22]:
# Most Profitable Items
df5_formatted = summary_df5.sort_values(["Total Purchase Value"], ascending=False).head()

df5_formatted.style.format({"Item Price":"${:,.2f}",
                           "Total Purchase Value":"${:,.2f}"
                           })